.top-nav{
    position: fixed;
}

.main-box{
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-image: url("../../../../src/bg/graph4.png");
    background-size: cover;
    text-align: center;
    color: white;
}
.main-box h1{
    padding-top: 35vh;
    font-size: 400%;
    line-height: 200%;
}
.btn-box{
    text-align: center;
    padding: 20px 0 0 0;
}
.main-btn{
    width: 140px;
    height: 40px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 5px 5px;
    border-radius: 20px;
    transition-duration: 200ms;
}
.main-btn:hover{
    background-color: white;
    color: cornflowerblue;
}
.main-btn a{
    font-size: 20px;
}