<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/QandA.css" />
  <link rel="stylesheet" href="../main.css" />
  <title>Document</title>
</head>

<body>

  <div id="zxtRoot">
    <div class="top-left-nav">
      <button class="nav-link"><a href="../../index.html">网站主页</a></button>
      <button :class="'nav-link ' + (page == 0 ? 'nav-active': '')"><a class="nav-item" @click="changePage0">题库介绍</a></button>
      <button :class="'nav-link ' + (page == 1 ? 'nav-active': '')"><a class="nav-item" @click="changePage1">航概理科</a></button>
      <button :class="'nav-link ' + (page == 2 ? 'nav-active': '')"><a class="nav-item" @click="changePage2">航概文科</a></button>
    </div>
    <div id="blank"></div>
    <div id="zxtIntro" v-if="page==0">
      <h1 id="zxtTitle">航空航天概论题库</h1>
      <p>本题库为面向航空航天概论课程期末考试的题库。</p>
      <p>目前理科题库有{{qnum}}道题，文科题库有{{qnum}}道题。</p>
      <p>题库基本覆盖考试范围，刷完必过。</p>
      <table>
        <tr>
          <td><button @click="changePage1">理科题库</button></td>
          <td><button @click="changePage2">文科题库</button></td>
        </tr>
      </table>
    </div>

    <div id="zxtSci" v-if="page==1">
      <div class="zxtCard">
        <h2>{{cardIndex+1}}. ({{cards[cardIndex].single ? "单选": "多选"}}){{cards[cardIndex].question}}</h2>
        <table>
          <tr>
            <td class="zxtLeftTd"><div :class="'zxtOp ' + (cards[cardIndex].A.choosen ? 'zxtChoosen ': '') + cards[cardIndex].A.color" @click="chooseOp('A')"><button><span><strong>A</strong>{{cards[cardIndex].A.text}}</span></button></div></td>
            <td rowspan="4" class="zxtRightTd"><div class="cardImg"><img :src="cards[cardIndex].imgSrc" alt="none"></div></td>
          </tr>
          <tr>
            <td class="zxtLeftTd"><div :class="'zxtOp ' + (cards[cardIndex].B.choosen ? 'zxtChoosen ': '') + cards[cardIndex].B.color" @click="chooseOp('B')"><button><span><strong>B</strong>{{cards[cardIndex].B.text}}</span></button></div></td>
          </tr>
          <tr>
            <td class="zxtLeftTd"><div :class="'zxtOp ' + (cards[cardIndex].C.choosen ? 'zxtChoosen ': '') + cards[cardIndex].C.color" @click="chooseOp('C')"><button><span><strong>C</strong>{{cards[cardIndex].C.text}}</span></button></div></td>
          </tr>
          <tr>
            <td class="zxtLeftTd"><div :class="'zxtOp ' + (cards[cardIndex].D.choosen ? 'zxtChoosen ': '') + cards[cardIndex].D.color" @click="chooseOp('D')"><button><span><strong>D</strong>{{cards[cardIndex].D.text}}</span></button></div></td>
          </tr>
        </table>
        <table class="zxtCardFooter">
          <tr>
            <td style="text-align: left;"><button @click="lastQ">< 上一题</button></td>
            <td style="text-align: center;"><button @click="submit"> 提交</button></td>
            <td style="text-align: right;"><button @click="nextQ">下一题 ></button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <script src="./vue/vue.js"></script>
  <script>
    const vm = new Vue({
      el: "#zxtRoot",
      data() {
        return {
          qnum: 0,
          page: 0,
          cardIndex: 0,
          cards:[
            {
              single: true, // 是否为单选
              question: "航空是指载人或不载人的飞行器在地球______的航行活动。",
              A: {
                text: "高空",
                choosen: false,
                ans: false,
                color: '',
              },
              B: {
                text: "大气层内",
                choosen: false,
                ans: true,
                color: '',
              },
              C: {
                text: "宇宙",
                choosen: false,
                ans: false,
                color: '',
              },
              D: {
                text: "大气层外",
                choosen: false,
                ans: false,
                color: '',
              },
              imgSrc: "./img/aerialVehicle.jpg",
              submitted: false
            },
            {
              single: true, // 是否为单选
              question: "1991年的______是现代空军高技术局部战争的标志。",
              A: {
                text: "朝鲜战争",
                choosen: false,
                ans: false,
                color: '',
              },
              B: {
                text: "越南战争",
                choosen: false,
                ans: false,
                color: '',
              },
              C: {
                text: "中东战争",
                choosen: false,
                ans: false,
                color: '',
              },
              D: {
                text: "海湾战争",
                choosen: false,
                ans: true,
                color: '',
              },
              imgSrc: "./img/war.jpg",
              submitted: false
            },
            {
              single: true, // 是否为单选
              question: "航天器又称空间飞行器，它与自然天体不同的是______。",
              A: {
                text: "可以按照人的意志改变其运行",
                choosen: false,
                ans: true,
                color: '',
              },
              B: {
                text: "不按照天体力学规律运行",
                choosen: false,
                ans: false,
                color: '',
              },
              C: {
                text: "其运行轨道固定不变",
                choosen: false,
                ans: false,
                color: '',
              },
              D: {
                text: "基本上按照天体力学规律运行但不能改变其运行轨道",
                choosen: false,
                ans: false,
                color: '',
              },
              imgSrc: "./img/spacecraft.jpg",
              submitted: false
            },
            {
              single: false, // 是否为单选
              question: "下列关于航天飞机的说法正确的是________。",
              A: {
                text: "可以重复使用，是目前最安全、最有效的航天器",
                choosen: false,
                ans: false,
                color: '',
              },
              B: {
                text: "可以进入近地轨道完成多种任务",
                choosen: false,
                ans: true,
                color: '',
              },
              C: {
                text: "能完成包括飞船、空间探测器甚至小型空间站的许多功能",
                choosen: false,
                ans: false,
                color: '',
              },
              D: {
                text: "目前世界上只有美国和前苏联有过航天飞机",
                choosen: false,
                ans: true,
                color: '',
              },
              imgSrc: "./img/spaceShuttle.jpg",
              submitted: false
            },
            {
              single: false, // 是否为单选
              question: "具有超声速巡航能力的战斗机具有______等优势。",
              A: {
                text: "可以更快速地飞抵战区执行任务",
                choosen: false,
                ans: true,
                color: '',
              },
              B: {
                text: "可以在超声速飞行状态发射导弹",
                choosen: false,
                ans: true,
                color: '',
              },
              C: {
                text: "可以提高飞机的低空飞行性能",
                choosen: false,
                ans: false,
                color: '',
              },
              D: {
                text: "可以高速脱离战区避免故人的攻击",
                choosen: false,
                ans: true,
                color: '',
              },
              imgSrc: "./img/warplane.jpg",
              submitted: false
            },
          ],
        }
      },
      methods: {
        changePage0(){
          this.page = 0;
        },
        changePage1(){
          this.page = 1;
        },
        changePage2(){
          this.page = 2;
        },
        chooseOp(op){
          if (!this.cards[this.cardIndex].submitted) {
            if (this.cards[this.cardIndex].single) {
              var arr = ['A', 'B', 'C', 'D'];
              arr.forEach((value) => {
                var element = this.cards[this.cardIndex][value];
                if (value == op) {
                  element.choosen = true;
                } else {
                  element.choosen = false;
                }
              });
            } else {
              this.cards[this.cardIndex][op].choosen = !this.cards[this.cardIndex][op].choosen;
            }
          }
        },
        lastQ(){
          if (this.cardIndex > 0) {
            this.cardIndex--;
          } else {
            alert("已是第一题");
          }
        },
        submit(){
          this.cards[this.cardIndex].submitted = true;
          var arr = ['A', 'B', 'C', 'D'];
          arr.forEach((value) => {
            var op = this.cards[this.cardIndex][value];
            if (op.ans) {
              op.color = 'zxtCorrectAns';
            } else if (op.choosen) {
              op.color = 'zxtWrongAns';
            }
          });
        },
        nextQ(){
          if (this.cardIndex < this.cards.length-1) {
            this.cardIndex++;
          } else {
            alert("已是最后一题");
          }
        }
      },
      mounted() {
        this.qnum = this.cards.length;
        window.addEventListener('keyup', (e) => {
          if (e.key == 'Enter' && this.page == 1) {
            if (!this.cards[this.cardIndex].submitted) {
              this.submit();
            } else {
              this.nextQ();
            }
          }
        });
      },
    })
  </script>
</body>

</html>