body{
    background-image: url("../img/MorningIsland.png");
    background-size:cover;
}
button{
    cursor: pointer;
}
#blank{
    height: 100px;
}

#zxtIntro{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    border: 1px solid #333333;
    box-shadow: 0px 0px 5px rgb(134, 134, 134);
    /* padding: 20px; */
    width: 800px;
    height: 430px;
    margin: 30px auto;
}

#zxtTitle {
    margin: 40px 0 50px;
    font-size: 40px;
    text-align: center;
}

#zxtIntro p {
    font-size: 24px;
    margin: 10px;
}

#zxtIntro table {
    margin: 20px auto;
    height: 80px;
}

#zxtIntro button {
    background-color: transparent;
    border: 2px solid #333333;
    color: #333333;
    height: 50px;
    width: 150px;
    margin: 30px 30px;
    font-size: 25px;
    transition: 0.3s;
    border-radius: 25px;
}

#zxtIntro button:hover {
    background-color: #efefef;
}

.zxtCard{
    border-radius: 5px;
    border: 1px solid #333333;
    box-shadow: 0px 0px 5px rgb(134, 134, 134);
    padding: 20px;
    width: 1000px;
    height: 450px;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.6);
}

.zxtCard h2{
    text-align: center;
    margin: 5px 0 20px;
}

.zxtCard img{
    height: 100%;
}

.zxtCard button{
    font-size: 20px;
    background-color: transparent;
    border: 0px;
    align-self: center;
    /* text-shadow: 0 0 3px #ffffff */
}

.zxtCard tr{
    height: 75px;
}

.zxtCard strong{
    margin: 0 20px;
}

.cardImg{
    height: 285px;
    width: 380px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
}

.zxtLeftTd{
    width: 600px;
    text-align: left;
}

.zxtRightTd{
    width: 400px;
}

.zxtOp{
    /* background-color: #fafafa; */
    width: 95%;
    height: 60px;
    display: flex;
    border-radius: 10px;
}

.zxtOp:hover{
    transition: 0.3s;
    background-color:rgba(64,144,255, 0.3);
}

.zxtChoosen{
    background-color:rgba(64,144,255, 0.6) !important;
}

.zxtCardFooter{
    width: 100%;
    padding: 0 20px;
}

.zxtCardFooter button:hover{
    color: blue;
}

.zxtCorrectAns{
    background-color:rgba(83, 212, 18, 0.7) !important;
}

.zxtWrongAns{
    background-color:rgba(237, 8, 0, 0.7) !important;
}

.nav-active{
    background-color: white !important;
    color: cornflowerblue !important;
}

.nav-link a{
    color: black;
}